<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<Properties>
		<Property name="log-path">E:\workspace\java\JUnitCalculatrice\logs
		</Property>
	</Properties>

	<Appenders>

		<File name="MyFile-log" fileName="${log-path}/TPJUnit.log">
			<PatternLayout
				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n">
			</PatternLayout>
		</File>

		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="MyFile-log" level="info" additivity="true">
			<appender-ref ref="MyFile-log" level="info" />
		</Logger>
		<Root level="info" additivity="false">
			<appender-ref ref="MyFile-log" />
			<appender-ref ref="console" />
		</Root>
	</Loggers>
</Configuration>